#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# GM Commands module configuration
########################################
#
#    GmCommandsModule.Enable
#        Description: Enable the GM commands module and print a welcome message to GMs at login
#        Default:     0 - Disabled
#                     1 - Enabled
#

GmCommandsModule.Enable = 1

#
#    GmCommandsModule.AccountIds
#        Description: Allow the specified accounts to use commands. Separated by comma
#
#

GmCommandsModule.AccountIds = ""

#
#
#    GmCommandsModule.AllowedCommands
#        Description: Allow the specified commands to be used. Separated by comma.
#
#

GmCommandsModule.AllowedCommands = ""